body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: brown;
}
* {
  box-sizing: border-box;
}
.container {
  background-color: blueviolet;
  border: 2px black solid;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.imagen1,
.imagen2 {
  width: 200px;
  border: 5px red;
}
